*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5aaaaef;
}
.card-container{
    position: relative;
    width: 320px;
    height: 400px;
    padding: 35px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(1, 2, 0, 0.4);
}

.card-container button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.card-container button a{
    text-decoration: none;
    font-weight: 600;

}
.card-container:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%; 
    height: 100%;
    background-color: #3fb1b1f1;
    z-index: 1;
    transition: 1s;
    cursor: pointer;

}
.card-container:hover::before{
    bottom: 0;
 
}
.content{
    position: relative;
    color: #000;
    z-index: 2;
    transition: 1s;
}
.card-container button{
    background-color: #000000d2;
}
.card-container button a{
    color: #fff;
}
h2{
    font-size: 30px;
    font-weight: 600
}
p{
    padding: 25px 0px;
    line-height: 25px;
}
.card-container .content:hover{
    color: #fff;
}